:root {
    --secondary-color :aqua;
    --primary-color:#071428;
    --bg-color:#ffffff ;
    --margin:0 auto;
    --margin-1:0;
    --padding-1:0;
}

* {
    box-sizing: border-box;
    padding: var(--padding-1);
    margin: var(--margin-1);
    
}

body {
    background-color: var(--primary-color);
}

.header {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;

    /* FIXED HEADER */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    
}
nav ul {
    display: flex;
    gap: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    float: left;
}



nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    padding: 4px;
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 800;
    
}

nav ul li a:hover {
    background-color: var(--primary-color);
    color: white;
    padding: 7px;
    border-radius: 8px;
    
}



/* MAIN CONTENT */
.main-container {
    background-color:var(--primary-color);
    width: 100%;
}

/* HOME */

#home {
    background-image: url(images/landing-page/landing.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-content {
    text-align: center;
    
}

.home-content h1 {
    color: #ffffff;
    font-size: 50px;
    text-shadow: 4px 4px 6px black;


}

.home-content p {
    color: #f5f5f5;
    font-size: 27px;
    text-shadow: 4px 4px 2px black;
}



.home-content a {
    text-decoration: none;
    color:var(--secondary-color);
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 8px;
    display: inline-block;
    margin: 10px 10px;
    box-shadow: 0px 4px 10px var(--secondary-color);
    
}


/* ABOUT */

#about {
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    padding: 10px;
           
}

.about {
    text-align: center;
    color: white;
    
}

.author-name {
    color: var(--secondary-color);
}

.about-title {
    font-size: 40px;
    text-shadow: 2px 2px 5px var(--secondary-color);
}                    

#about-image {
    width: 230px;
    height: 270px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    
}

.about-btn a {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 7px;
    border-radius: 8px;
    margin: 18px 0;
    text-decoration: none;
    color: var(--primary-color);

}


.about-message {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* WHY CHOOSE ME */

#whychooseme {
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    padding: 10px;
    
}

.whychooseme {
    text-align: center;
    color: white;
}

.whychooseme-title {
    margin-top: 30px;
}

.whychooseme-message {
    
}

.whychooseme-cards-main{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    gap: 10px;
    margin-top: 40px;
    
    

}

.whychooseme-card {

}

.whychooseme-card figcaption{
    
}

.whychooseme-card-message {
    font-size: 20px;
    margin-top: 20px;
}

.wcm-image {
    width: 300px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    border-radius: 8px;

}

/* SERVICES */

#services {

    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    padding: 10px;

}

.services {

    text-align: center;
    color: white;

}

.services-title {
    
    margin-top: 40px;

}

.services-message {

    
}



.services-cards-main {

    


}

.services-cards-title {

    margin: 10px;
}

.services-card-submain {

    display: grid; 
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    gap: 30px;

}

.services-card {

    padding: 10px;
    box-shadow: 2px 2px 4px var(--secondary-color);
    border-radius: 10px;

}

.service-image {

    width:90% ;
    height: 280px;
    border-radius:8px ;
    border: 2px solid var(--secondary-color);

}

.services-card figcaption {
    margin: 10px;
    font-size: 30px;
    text-shadow: 2px 2px 2px var(--secondary-color);

}

.services-card-message {

}

.services-btn {
    background-color: var(--secondary-color);
    width: 100px;
    padding: 4px;
    margin: 20px auto;
    border-radius: 8px;

}

/* CONTACT */

#contact {

    min-height: 100vh;
    background-color: var(--primary-color);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    
    
    padding: 10px;

}

.contact-title {
    margin: 0 auto;
    font-size: 50px;
    color: white;
}

.contact-form {

    color: white;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    width: 400px;

    margin: 100px auto;

    
}

.contact-form label {
    margin: 5px;
}

.contact-form input,#contact-select {
    padding: 4px;
    width: 400px;
    border-radius: 8px;
    height: 40px;
    font-size: 15px;
}


.contact-btn {
    margin: 8px auto;
    
}


.contact-btn button {
    padding: 4px;
    margin: 0 20px;
    width: 100px;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
}

/* FOOTER */

.footer-main {
    min-height: 40vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 20px;
    
}

.footer-nav-links .nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.socials {
    text-align: center;
}

.socials {
    text-align: center;
}

.socials-title {
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-links a {
   
    font-size: 22px;
    transition: 0.3s ease;
}

.fa-youtube {
    color: red;
}

.copyrights {
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--primary-color);
    padding-top: 20px;
}


/* GALLERY */





.portraits,
.nature,
.wedding {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 70px;
    margin-top: 90px;
}


.portraits-image-cards,
.nature-image-cards,
.wedding-image-cards {
    
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 5px 10px var(--secondary-color);
}


.portraits-image-cards img,
.nature-image-cards img,
.wedding-image-cards img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    
}


/* PROJECT DESIGN */

.design-main {
    min-height: 100vh;
    background-color: var(--primary-color);
    color: white;
    padding: 50px 20px;
}

.design-section,
.design-notes,
.development-steps {
    width: 1100px;
    margin: 0 auto 50px;
    text-align: center;
}

.design-section h1,
.design-notes h2,
.development-steps h2 {
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.design-section p {
    width: 800px;
    margin: 0 auto 30px;
    line-height: 1.2;
    font-size: 21px;
}

.design-image {
    width: 80%;
    
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 8px 20px var(--secondary-color);
}

.design-notes ul,.development-steps ol {
    width: 700px;
    margin: 30px auto;
    text-align: left;
    
    font-size: 20px;
    background: rgba(255,255,255,.05);
    padding: 30px 50px;
    border-left: 5px solid var(--secondary-color);
    border-radius: 8px;
}

.design-notes li,
.development-steps li {
    margin-bottom: 10px;
}


