:root {
    --secondary-color :aqua;
    --primary-color:#071428;
    --bg-color:#ffffff ;
    --margin:0 auto;
    --margin-1:0;
    --padding-1:0;
}

* {
    box-sizing: border-box;
    padding: var(--padding-1);
    margin: var(--margin-1);
    
}

body {
    background-color: var(--secondary-color);
}

.header {
    display: flex;
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;

    /* FIXED HEADER */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 8px;
    
}
nav ul {
    display: flex;
    gap: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    float: left;
}



nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 800;
    
}

/* MAIN CONTENT */
.main-container {
    background-color:var(--primary-color);
    width: 100%;
}

/* HOME */

#home {
    background-image: url(../images/landing-page/landing.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-content {
    text-align: center;
    
}

.home-content h1 {
    color: #ffffff;
    font-size: 50px;
    text-shadow: 4px 4px 6px black;


}

.home-content p {
    color: #f5f5f5;
    font-size: 27px;
    text-shadow: 4px 4px 2px black;
}

/* .home-btn {
    display: flex;
    gap: 20px;
    justify-content: center;

} */

.home-content a {
    text-decoration: none;
    color:var(--secondary-color);
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 8px;
    display: inline-block;
    margin: 10px 10px;
    box-shadow: 0px 4px 10px var(--secondary-color);
    
}


/* ABOUT */

#about {
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    padding: 10px;
           
}

.about {
    text-align: center;
    color: white;
    
}

.about-title {
    font-size: 40px;
    text-shadow: 2px 2px 5px var(--secondary-color);
}                    

#about-image {
    width: 230px;
    height: 270px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    
}

.about-btn a {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 7px;
    border-radius: 8px;
    margin: 18px 0;
    text-decoration: none;
    color: var(--primary-color);

}


.about-message {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* WHY CHOOSE ME */

#whychooseme {
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    padding: 10px;
    
}

.whychooseme {
    text-align: center;
    color: white;
}

.whychooseme-title {
    margin-top: 30px;
}

.whychooseme-message {
    
}

.whychooseme-cards-main{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px, 1fr));
    gap: 30px;
    margin-top: 40px;
    

}

.whychooseme-card {

}

.whychooseme-card figcaption{
    
}

.whychooseme-card-message {
    font-size: 20px;
    margin-top: 20px;
}

.wcm-image {
    width: 300px;
    height: 200px;
    border: 3px solid var(--secondary-color);
    border-radius: 8px;

}

/* SERVICES */

#services {

    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    padding: 10px;

}

.services {

    text-align: center;
    color: white;

}

.services-title {
    
    margin-top: 40px;

}

.services-message {

    
}



.services-cards-main {

    


}

.services-cards-title {

    margin: 10px;
}

.services-card-submain {

    display: grid; 
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    gap: 30px;

}

.services-card {

    padding: 10px;
    box-shadow: 2px 2px 4px var(--secondary-color);
    border-radius: 10px;

}

.service-image {

    width:90% ;
    height: 280px;
    border-radius:8px ;
    border: 2px solid var(--secondary-color);

}

.services-card figcaption {
    margin: 10px;
    font-size: 30px;
    text-shadow: 2px 2px 2px var(--secondary-color);

}

.services-card-message {

}

.services-btn {
    background-color: var(--secondary-color);
    width: 100px;
    padding: 4px;
    margin: 20px auto;
    border-radius: 8px;

}

